body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 8px;
  padding: 8px
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;
  padding: 16px
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: auto;
  display: block
}